img {

    margin: 2rem;
    margin-left: 7rem;

}

a{

    margin: 0rem;
}

h1 {

    text-align: center;

}

#lele {

    background-color: yellow;

    border: 1px solid black;
    margin: 1rem;

}