header {

    text-align: center;
   
    margin-bottom: 7rem;

    margin-top: 5rem;

    background-color:  #D9DEE5;

 


    border-radius: 0.8rem;



}


body {

    /*background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FH8WuRINimqur8ud%2Ftechnology-background-gear_rhfg-imn_thumbnail-full01.png&f=1&nofb=1");*/

    background-image: url(./download.jpg);

    font-family: 'Roboto Condensed', sans-serif;

}

#botoes {


    border-bottom: 3px  solid black;
   

}

#botoes .primeiro {

    margin-left: 25rem;
    /*text-align: "center";*/


  

}

#botoes .primo {

    margin-left:19rem;

}


#botoes a {

    margin: 1%;
    text-decoration: none;

    border-radius: 0.8rem;

    background-color: #4191EE;

    transition: background 1s;

    padding: 1rem;


 

    
}



#botoes a:hover {

    background-color: #D9DEE5;

  
}

#classes a {

    line-height: 20;

    padding: 3rem;

    background-color: red;

    border-radius: 0.8rem;

    transition: background 1s;

    text-decoration: none;


}

#classes a:hover {

    background-color: white;

}


@media (max-height: 840px) and (max-width: 1200px) { /*para mobile menores*/

    
    #botoes a{

        padding: 1rem;

        display: block;

        text-align: center;


    }

    #botoes .primo {

        margin-left:0;
    
    }

    #botoes {

        margin-left:2%;

    }

    #botoes .primeiro {

        margin-left: 0rem;
    
    }

    #classes a {


        padding: 1rem;
        
        margin: 0rem;


    }

    #classes a .mat {

        display: inline;

        padding: 0;

        margin: 0;

    }


}

@media (min-width: 700px) and (min-height: 1000px) {  /*para mobiles maiores*/ 
 
    #botoes a{

        display:block;
        
        text-align: center;

        padding: 1rem;
    }

    #botoes {

        margin-left: 2%;

    }

    #botoes .primeiro {

        margin-left: 0rem;
    
    }

    #botoes .primo {

        margin-left:0;
    
    }



} 

@media (max-width: 380px) and (min-height: 600px) {



}
